In [1]:
import pandas as pd

df = pd.DataFrame([[4,5,6], [7,8,9]], columns=["colum1", "colum2", "colum3"])

In [3]:
resultado = df.apply(lambda row: row["colum1"] * row["colum2"], axis=1)
df

   colum1  colum2  colum3
0       4       5       6
1       7       8       9

In [5]:
df = pd.DataFrame([[4,5], [7,8]], columns=["colum1", "colum2"])

df_normalizado = df.apply(lambda col: (col - col.min()) / (col.max() - col.min()))

df_normalizado

   colum1  colum2
0     0.0     0.0
1     1.0     1.0

In [6]:
df = pd.DataFrame({
    'nome': ['lorran', 'luana', 'graciela']

})

df['nome_completo'] = df.apply(lambda x: x + 'dos santos')

df

       nome       nome_completo
0    lorran    lorrandos santos
1     luana     luanados santos
2  graciela  gracielados santos