### 1 Crie uma estrutura em python para salvar os dados abaixo nas seguintes estruturas: json, excel e csv. Após isso leia os três arquivos, pois vamos utilizar estrutura de repetção

In [6]:
import json
import pandas as pd

data = {
    'nome': ['ana', 'pedro', 'maria', 'camila'],
    'profissão': ['contadora', 'engenheiro', 'arquiteta', 'bancaria'],
    'idade': [20, 45, 43, 68],
    'sexo': ['F', 'M', 'F', 'F']
}

In [5]:
with open('exercicio_json.json', 'w') as json_file:
    json.dump(data, json_file)

with open('exercicio_json.json', 'r') as json_file:
    df_json = json.load(json_file)

In [10]:
df_csv = pd.DataFrame(data)
df_csv.to_csv('exercicio_csv.csv', index = False)

df_csv = pd.read_csv('exercicio_csv.csv')
df_csv

     nome   profissão  idade sexo
0     ana   contadora     20    F
1   pedro  engenheiro     45    M
2   maria   arquiteta     43    F
3  camila    bancaria     68    F

In [13]:
df_excel = pd.DataFrame(data)
df_excel.to_excel('exercicio_excel.xlsx', index = False)