In [20]:
lista = [100,200,300]

In [21]:
print(lista[0])
print(lista[1])
print(lista[2])

100
200
300

In [22]:
tupla = (100,200,300)
print(tupla)

(100, 200, 300)

In [23]:
for m in tupla:
    print(m)

100
200
300

In [24]:
# Passa cada letra da palavra para tupla
tupla = tuple('string')
print (tupla)

('s', 't', 'r', 'i', 'n', 'g')

In [25]:
# Cria a tupla
tupla = tuple(['foo',[1,2,3], True])
print(tupla)

('foo', [1, 2, 3], True)

In [26]:
# Prova que não da para alterar valor na tupla
tupla[2] = False

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Insere o número 4 na lista que está dentro da tupla (posição 1)
tupla[1].append(4)

print(tupla)

('foo', [1, 2, 3, 4], True)

In [ ]:
# Converte para tupla
tupla = tuple(['foo',[1,2,3], True])
print(tupla)

# Converte para lista
lista = list(tupla)
print(lista)

# Adiciona no índice 0 da lista a palavra 'fiap'
lista.insert(0, 'fiap')
print(lista)

('foo', [1, 2, 3], True)
['foo', [1, 2, 3], True]
['fiap', 'foo', [1, 2, 3], True]

In [5]:
tupla = tuple(['foo',[1,2,3], True])
print(tupla)

lista = list(tupla)
print(lista)

# Index é a referência e o +1 é para adicionar um a frente da referência.
posicao_insercao = lista.index('foo') + 1
lista.insert(posicao_insercao, 'foo fighters')

tupla_nova = tuple(lista)
print(tupla_nova)

('foo', [1, 2, 3], True)
['foo', [1, 2, 3], True]
('foo', 'foo fighters', [1, 2, 3], True)

In [ ]:
# Concatena os dados (Concatenar é juntar)
a = (4, None, 'foo') + (6,0) + ('fiap',1)
print(a)

(4, None, 'foo', 6, 0, 'fiap', 1)

In [ ]:
# Concatena 4 vezes o valor que já tem
b = (4, None, 'foo') * 4
print(b)

(4, None, 'foo', 4, None, 'foo', 4, None, 'foo', 4, None, 'foo')

In [ ]:
tupla = (100,1000,10000)

# Separa em A B e C (variáveis) os valores dentro da tupla
a,b,c = tupla

print(a)
print(b)
print(c)

100
1000
10000

In [ ]:
def nome_funcao(parametros):
    a = (20 + 50) /2
    b = (20 + 50)
    return(a,b)

nome_funcao(0)

(35.0, 70)

# Exercício 1

Crie uma tupla chamada frutas com os seguintes elementos: 'maçã', 'banana', 'laranja', 'uva'.

In [27]:
frutas = ('maçã', 'banana', 'laranja', 'uva')

# Exercício 2
Acesse o segundo elemento da tupla frutas.

In [28]:
print(frutas[1])

banana

# Exercício 3
Substitua o terceiro elemento da tupla frutas por 'manga' e armazene a tupla modificada em uma nova variável chamada frutas_modificadas.

In [30]:
lista = list(frutas)
lista[2] = 'manga'
frutas_modificadas = tuple(lista)
print(frutas_modificadas)

('maçã', 'banana', 'manga', 'uva')

# Exercício 4
Concatene a tupla frutas_modificadas com a tupla ('abacaxi','limão') e armazene o resultado em uma nova tupla chamada frutas_concatenadas.

In [31]:
frutas_concatenadas = frutas_modificadas + ('abacaxi','limão')
print(frutas_concatenadas)

('maçã', 'banana', 'manga', 'uva', 'abacaxi', 'limão')

# Exercício 5
Verifique se o elemento 'uva' está presente na tupla frutas_concatenadas.

In [32]:
for i in frutas_concatenadas:
    if i == 'uva':
        print("A uva está presente!")
        break

A uva está presente!

# Exercício 6
Crie um algoritmo para calcular a média dos alunos abaixo. Utilize estrutura de repetição e tuplas.

###### (Laura, 85,90,88)
###### (Paulo, 60,75,68)
###### (Ana, 68,80,90)
###### (Jose, 80,90,72)

In [33]:
alunos = [('Laura', 85,90,88),('Paulo', 60,75,68),('Ana', 68,80,90),('Jose', 80,90,72)]

for i in alunos:
    media = (i[1] + i[2] + i[3]) / 3
    print(f"A média do(a) {i[0]} é: {media}")

A média do(a) Laura é: 87.66666666666667
A média do(a) Paulo é: 67.66666666666667
A média do(a) Ana é: 79.33333333333333
A média do(a) Jose é: 80.66666666666667

# Exercício 7
Crie um programa para análise de despesas.
Utilize estrutura de repetição e tuplas.

###### viagens,5000,15000,25000,9800
###### restaurantes, 230,100,50,415
###### transporte, 50, 15, 89,115

In [43]:
despesas = [('viagens',5000,15000,25000,9800),('restaurantes',230,100,50,415),('transporte',50,15,89,115)]

for i in despesas:
    local, valor1, valor2, valor3,valor4 = i
    
    for j in range(4):
        j+=1
        print(f"O {j}° valor gasto com {local} foi {i[j]}")

    media = (valor1+valor2+valor3+valor4) /4
    print(f"A média de gastos em {local} foi de {media}")

    print("")

O 1° valor gasto com viagens foi 5000
O 2° valor gasto com viagens foi 15000
O 3° valor gasto com viagens foi 25000
O 4° valor gasto com viagens foi 9800
A média de gastos em viagens foi de 13700.0

O 1° valor gasto com restaurantes foi 230
O 2° valor gasto com restaurantes foi 100
O 3° valor gasto com restaurantes foi 50
O 4° valor gasto com restaurantes foi 415
A média de gastos em restaurantes foi de 198.75

O 1° valor gasto com transporte foi 50
O 2° valor gasto com transporte foi 15
O 3° valor gasto com transporte foi 89
O 4° valor gasto com transporte foi 115
A média de gastos em transporte foi de 67.25

# Exercício 8
Crie um programa para catalogação de livros. Utilize estrutura de repetição e tuplas.

livros = [
    ("O Senhor dos Anéis","J.R.R. Tolkien"),
    ("O Hobbit","J.R.R. Tolkien"),
    ("1984","George Orwell")
]

In [45]:
livros = [
    ("O Senhor dos Anéis","J.R.R. Tolkien"),
    ("O Hobbit","J.R.R. Tolkien"),
    ("1984","George Orwell")
]

for i in livros:
    nome, autor = i
    print(f"O nome do livro é '{nome}' do Autor: '{autor}'")

O nome do livro é 'O Senhor dos Anéis' do Autor: 'J.R.R. Tolkien'
O nome do livro é 'O Hobbit' do Autor: 'J.R.R. Tolkien'
O nome do livro é '1984' do Autor: 'George Orwell'

# Dicionário

In [48]:
estudantes = [
    {'Nome': 'Alice','Idade':40},
    {'Nome': 'Bob','Idade':37},
    {'Nome': 'Chris','Idade':33}
]
print(estudantes)

for i in estudantes:
    print(i)

[{'Nome': 'Alice', 'Idade': 40}, {'Nome': 'Bob', 'Idade': 37}, {'Nome': 'Chris', 'Idade': 33}]
{'Nome': 'Alice', 'Idade': 40}
{'Nome': 'Bob', 'Idade': 37}
{'Nome': 'Chris', 'Idade': 33}

In [47]:
import pandas as pd

# O DataFrame converte os dados do dicionário em uma tabela
dados = pd.DataFrame(estudantes)
print(dados)

    nome  idade
0  Alice     40
1    Bob     37
2  Chris     33