In [2]:
import pandas as pd

##### Crie um pandas Series contendo os números de 1 a 10

In [3]:
ex1 = pd.Series(range(1, 11))
ex1

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

##### Acesse o terceiro elemento de uma Pandas Series e imprima o seu valor

In [28]:
ex1 = pd.Series(range(1, 11));

ex1[2]

3

##### Some duas Pandas Series contendo numeros de 1 a 5 e os numeros de 6 a 10, respesctivamente.

In [7]:
ex1 = pd.Series(range(1, 6), name = 'Serie 1');
ex2 = pd.Series(range(6, 11), name = 'Serie 2');

df = pd.DataFrame({'Serie 1': ex1, 'Serie 2': ex2}); #definindo como DataFrame (df)
ex_sum = df['Serie 1'] + df['Serie 2']; #somando as Series

ex_sum

0     7
1     9
2    11
3    13
4    15
dtype: int64

##### Crie duas Pandas Series contendo os numeros de 1 a 10 e exiba apenas os valores maiores que 5

In [17]:
ex1 = pd.Series(range(1, 11), name = 'Serie 1');
ex2 = pd.Series(range(1, 11), name = 'Serie 2');

df = pd.DataFrame({'Serie 1': ex1, 'Serie 2': ex2}); #definindo como DataFrame (df)

for i in df['Serie 1']:
    if i > 5:
        print(i)

for i in df['Serie 2']:
    if i > 5:
        print(i)

6
7
8
9
10
6
7
8
9
10

In [4]:
ex1 = pd.Series(range(1, 11), name = 'Serie 1');
ex2 = pd.Series(range(1, 11), name = 'Serie 2');

ex_filtrado = ex1[ex1>5]

print(ex_filtrado)

5     6
6     7
7     8
8     9
9    10
Name: Serie 1, dtype: int64

##### Calcule a média e o desvio padrão de uma Pandas Series contendo os números de 1 a 10

In [26]:
ex1 = pd.Series(range(1, 11), name = 'Series 1');

df = pd.DataFrame({'Series 1': ex1})

df_media = df.mean()
df_devioPadrao = df.std()

print(df_media)
print(df_devioPadrao)

Series 1    5.5
dtype: float64
Series 1    3.02765
dtype: float64

##### Concatene duas Pandas Series contendo os numeros de 1 a 5 e 6 a 10, respectivamente, em uma unica serie

In [27]:
ex1 = pd.Series(range(1, 6), name = 'Series 1');
ex2 = pd.Series(range(6, 11), name = 'Series 2');

ex_concat = pd.concat([ex1, ex2], axis = 1) ## 'axis = 1' junta as colunas, 'axis=0' coloca uma coluna em baixo da outra

NameError: name 'concat' is not defined

In [30]:
ex1 = pd.Series(range(1, 11))
ex2 = pd.Series(range(10, 1, -1))

ex_sub = ex1 - ex2
ex_sub

0   -9.0
1   -7.0
2   -5.0
3   -3.0
4   -1.0
5    1.0
6    3.0
7    5.0
8    7.0
9    NaN
dtype: float64

In [34]:
ex1 = pd.Series(range(1, 11))

ex1.sort_values(ascending = False) # false decrescente, true = crescente

9    10
8     9
7     8
6     7
5     6
4     5
3     4
2     3
1     2
0     1
dtype: int64

In [33]:
ex1 = pd.Series([10, 20, 20, 30, 40, 50, 50], name = 'Series 1')

ex1.duplicated().any() # confere se tem elementos duplicados IMPORTANTE para verificar dados e tratar

True

In [35]:
ex1 = pd.Series(range(1, 11))

ex1[3:8]  #pega elementos apartir de um indice, ate outro indice3,

3    4
4    5
5    6
6    7
7    8
dtype: int64