In [10]:
import pandas as pd

In [16]:

dados = {
    'Nome': ['João', 'Maria', 'Pedro', 'Ana'],
    'Idade':[25, 30, 40, 34],
    'Salario': [5000, 6000, 7000, 8000]
}

print(dados)

df = pd.DataFrame(dados)
df

{'Nome': ['João', 'Maria', 'Pedro', 'Ana'], 'Idade': [25, 30, 40, 34], 'Salario': [5000, 6000, 7000, 8000]}

    Nome  Idade  Salario
0   João     25     5000
1  Maria     30     6000
2  Pedro     40     7000
3    Ana     34     8000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Nome     4 non-null      object
 1   Idade    4 non-null      int64
 2   Salario  4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes

In [17]:
i = 0
while i < len(df):

    if df['salario'][i] > 6000:
        print(df.iloc[i])
    i += 1

KeyError: 'salario'

In [14]:
i = 0
while i < len(df):

    if df['salario'][i] > 6000:
        print("Nome", df['Nome'][i], "Idade", df['idade'][i])
    i += 1

KeyError: 'salario'

In [ ]:
input = df[['Nome', 'Idade']]
output = ['Salario']

In [18]:
# estrutura de repetição com for

for k in df['Salario']:
    print(k)

5000
6000
7000
8000

In [23]:
for k in df.select_dtypes(include = ['int', 'float']):
    media = df[k].mean()
    print("Media de", k, "é", media)

Media de Idade é 32.25
Media de Salario é 6500.0

In [26]:
for k in df.select_dtypes(include = ['object']):
    contador = df[k].value_counts()
    print("Media de", k, "é", contador)

Media de Nome é Nome
João     1
Maria    1
Pedro    1
Ana      1
Name: count, dtype: int64

In [28]:
df

    Nome  Idade  Salario
0   João     25     5000
1  Maria     30     6000
2  Pedro     40     7000
3    Ana     34     8000

In [31]:
soma_salarios = 0
i = 0 # serve como contador também

while i < len(df):
    soma_salarios += df['Salario'][i]
    i += 1

    media_salarios = soma_salarios / i

print(media_salarios)

6500.0

In [33]:
soma_salarios = 0
i = 0 

while i < len(df):
    soma_salarios += df['Salario'][i]
    i += 1
    media_salarios = soma_salarios / i

    if media_salarios > 6000:
        break
    

print(media_salarios)

6500.0

In [35]:
def calcula_bonus(salario):
    aumento = salario * 0.1

    return aumento

bonus = []

for indice, linha in df.iterrows():
    bonus.append(calcula_bonus(df['Salario']))

print("O bonus calculado é:", bonus )

O bonus calculado é: [0    500.0
1    600.0
2    700.0
3    800.0
Name: Salario, dtype: float64, 0    500.0
1    600.0
2    700.0
3    800.0
Name: Salario, dtype: float64, 0    500.0
1    600.0
2    700.0
3    800.0
Name: Salario, dtype: float64, 0    500.0
1    600.0
2    700.0
3    800.0
Name: Salario, dtype: float64]

In [37]:
for index, row in df.iterrows():
    print(row['Nome'], row['Idade'])

João 25
Maria 30
Pedro 40
Ana 34

In [38]:
for index, row in df.iterrows():
    if row['Salario'] > 6000:
        print(row['Nome'], row['Idade'])

Pedro 40
Ana 34