### CSV is the more used

In [5]:
# Estrutura de dados em JSON

import json

data = {
    'nome': 'joão',
    'idade': 20,
    'cidade': 'são paulo'
}

data

{'nome': 'joão', 'idade': 20, 'cidade': 'são paulo'}

In [6]:
# To write data

with open('exemplo_json.json', 'w') as json_file:
    json.dump(data, json_file) #Quando você usa o módulo json em Python, a função dump é utilizada para serializar objetos Python (como dicionários, listas, etc.) em um arquivo no formato JSON.

In [7]:
# to read data

with open('exemplo_json.json', 'r') as json_file:
    df_json = json.load(json_file)

## Estrutura de dados em CSV

In [21]:
import pandas as pd


data = {
    'nome': ['lorran', 'graciela', 'luana', 'uander'],
    'idade': [19, 42, 18, 43],
    'cidade': ['são paulo', 'itapevi', 'carapicuiba', 'jandira']
}

In [22]:
df_csv = pd.DataFrame(data)

df_csv.to_csv('exemplo_csv.csv', index=False)

In [33]:
# reading file in csv

df_csv = pd.read_csv('exemplo_csv.csv')

df_csv

       nome  idade       cidade
0    lorran     19    são paulo
1  graciela     42      itapevi
2     luana     18  carapicuiba
3    uander     43      jandira

## Estrutura de dados em excel

In [27]:
data = {
    'nome': ['lorran', 'graciela', 'luana', 'uander'],
    'idade': [19, 42, 18, 43],
    'cidade': ['são paulo', 'itapevi', 'carapicuiba', 'jandira']
}

In [35]:
df_excel = pd.DataFrame(data)

df_excel.to_excel('exemplo_excel.xlsx', index = False)